.venv
.git
.dg
.tmp_dagster_home*
__pycache__
*.pyc
*.pyo
*.pyd
.db
.ipynb_checkpoints
node_modules
dist
build
.coverage
htmlcov
.tox
.nox
.pytest_cache
.mypy_cache
.ruff_cache
.hypothesis
.env
.env.*
